@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
};


@theme {
  --color-primary-dark: #3E350E;
  --color-primary: #794515;
  --color-primary-light: #8a5626;
  --color-secondary: #F2DD6C;
  --color-cream: #e6d7b3;

  --font-tropika: var(--font-tropika);


  --animate-fadeIn: fadeIn 1s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

}

@layer components {
  .textLink {
    font-weight: 600;
    transition: all .3s ease-in-out;
  }
  .textLink:hover {
    color: var(--color-primary);
  }
  .textLinkNotFound {
    font-weight: 600;
    transition: all .3s ease-in-out;
  }
  .textLinkNotFound:hover {
    color: var(--color-red-700);
    cursor: not-allowed;
  }
  .methodContent {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: center;
    gap: 50px;
  }
  .methodTextContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    text-align: justify;
  }
}


body {
  color: #FFFFFF;
}