@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
};


@theme {
  --color-primary-dark: #3E350E;
  --color-primary: #794515;
  --color-primary-light: #8a5626;
  --color-secondary: #F2DD6C;
  --color-cream: #e6d7b3;

  --font-tropika: var(--font-tropika);

  --animate-load: load .7s ease;

  @keyframes load {
    0% {
      transform: translateY(100vh);
    }

    100% {
      transform: translateY(0vh);
    }
  }

}

@layer components {
  .textLink {
    font-weight: 600;
    transition: all .3s ease-in-out;
  }
  .textLink:hover {
    color: var(--color-primary);
  }
  .textLinkNotFound {
    font-weight: 600;
    transition: all .3s ease-in-out;
  }
  .textLinkNotFound:hover {
    color: var(--color-red-700);
    cursor: not-allowed;
  }
}


body {
  color: #FFFFFF;
}